<a href="https://colab.research.google.com/github/chang-min-dbs/remem/blob/%EB%B0%B1%EC%A4%80-%EB%8B%A8%EA%B3%84%EB%B3%84/02_%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#두 수 비교하기

A, B = map(int, input().split())
if A > B:
  print('>')
elif A < B:
  print('<')
elif A == B:
  print('==')

1 2
<

In [ ]:
#시험 성적

score = int(input())

if 90 <= score <= 100:
  print('A')
elif 80<= score <= 89:
  print('B')
elif 70<= score <= 79:
  print('C')
elif 60 <= score <= 69:
  print('D')
else:
  print('F')

30
F

In [ ]:
# 윤년

year = int(input())

if year%4==0 and year%100 != 0 or year%400 == 0:
  #if year%100 != 0 or year%400 == 0:
    print('1')
else:
  print('0')
#  if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0: 이런식으로 괄호도 가능하다!

2000
1

In [ ]:
# 사분면 고르기

x = int(input())
y = int(input())

if x>0 and y>0:
  print('1')
elif x<0 and y>0:
  print('2')
elif x<0 and y<0:
  print('3')
elif x>0 and y<0:
  print('4')

9
-13
4

In [ ]:
# 알람시계

H, M = map(int, input().split())  #입력
0 <= H <= 23 and 0 <= M <= 59 # 문제 조건
if H-1<0:                         #H=0일 때 23시로 넘어가는 조건 --- 그냥 h==0으로 조건 쓰면 되잖어.
  if M-45<0:                       # H-1 이 곧 23시인 조건쓴것
    print(23, 60+(M-45))
  elif M-45>0:
    print(23, M-45)
  elif M-45==0:
    print(0, 0)

elif H-1>=0:
  if M-45<0:
    print(H-1,60+(M-45))
  elif M-45>0:
    print(H, M-45)
  elif M-45==0:
    print(H, 0)

  # 1. 분이 0이 될때, 2. 시가 0에서 23으로 넘어갈때 3. 0시0분

3 5
2 20

In [ ]:
# 지피티가 알려준 코드


H, M = map(int, input().split())  # 입력

if M < 45:  # 분이 45분보다 작은 경우
    M = 60 - (45 - M)  # 60분에서 45분을 뺀 나머지를 더함
    if H == 0:  # 시간이 0인 경우 23시로 넘어감
        H = 23
    else:  # 그렇지 않으면 시간에서 1을 뺌
        H -= 1
else:  # 분이 45분 이상인 경우
    M -= 45

print(H, M)

In [ ]:
# 오븐 시계

A, B = map(int,input().split())
C = int(input())
D = B + C
if D>59:
  A+=D//60
  D = D%60
  if A>23:
    A = A % 24
else:
  D =

print(A, D)
#A = 0 + (D//60) - 1 대신 A = A % 24로 변경하여 시간을 24시간 형식으로 변환합니다.

14 40
80
16 0

In [ ]:
#주사위 세개

A,B,C = map(int, input().split())
same_num = 0
if A == B == C:
  print(10000+(A*1000))
elif A==B or B==C or A==C:
  if A == B:
    same_num = A
  elif B == C:
    same_num = B
  elif A == C:
    same_num = C
  print(1000+(same_num*100))

else:
  if A>B and A>C:
    print(A*100)
  elif B>A and B>C:
    print(B*100)
  elif C>A and C>B:
    print(C*100)