<a href="https://colab.research.google.com/github/chang-min-dbs/remem/blob/%EB%B0%B1%EC%A4%80-%EB%8B%A8%EA%B3%84%EB%B3%84/04_1%EC%B0%A8%EC%9B%90%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#개수 세기
#numbers = list(map(int, input().split())) 로 리스트를 여러개 입력해 넣을 수 있다.
N = int(input())

numbers= list(map(int, input().split()))
V= int(input())
print(numbers.count(V))

5
1 2 2 3 4
2
2

In [ ]:
#X보다 작은 수
B_list=[]
N, X = map(int, input().split())
A_list = list(map(int, input().split()))
for j in A_list:
  if j < X:
    B_list.append(j)
for i in B_list:
  print(i,end=" ")

In [ ]:
#최소, 최대

N = int(input())
A_list = list(map(int, input().split()))

min_val = min(A_list)
max_val = max(A_list)

print(min_val, max_val)
#위 코드처럼 작성한 방식은 지피티가 알려준 방식, 내가 원래 쓴 코드는 최댓값이 여러개일 경우 중복되어 출력되는 오류가 있었다.

5
20 10 35 30 7
7 35

In [ ]:
#최대

A_list=[]
for i in range(9):
  A= int(input())
  A_list.append(A)

max_val=max(A_list)

print(max_val)
print(A_list.index(max_val)+1)

3
29
51
27
59
83
85
28
1
85
6