<a href="https://colab.research.google.com/github/chang-min-dbs/remem/blob/python_summer/Day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

자료형:
 - 정수형(integer): int
  크기비교, 일반적인 수학 연산

  integer는 정수라는 뜻으로 파이썬에서 "999"와 같은 숫자로 된 문자를 정수로 인식하게 해줍니다


 - 문자형: str
 (특정한 연산도 가능) 연결 연산, (파이썬에서만) 곱셈 연산 가능 --- 문자 그대로 나오게끔함
 --->서로 자료형변환을 통해

In [ ]:
myinput = input("숫자를 입력받습니다")
myinput = int(myinput)

if( myinput > 10):
 print("이 숫자는 10보다 큽니다.")

숫자를 입력받습니다11
이 숫자는 10보다 큽니다.

다른언어:
파이썬: 변수선언에 자료형이 필요없다.
예시가 마이 인풋임, 박스가 만들어졌다 생각
숫자를 입력받습니다는 매개변수이다.
> 연산자는
마이인풋인 문자열을 숫자열로 바꿔주자

-이거 왜 나 안되냐

In [ ]:
print(1)
print(1 + 3)
print(1 + 3 * 5)

1
4
16

In [ ]:
#print(1 + '1')
print(str(1) + '1')

11

1 = 숫자 `1` = 문자
정수 1을 자료형변환str을해서 에러가 안나게끔함
```
# 코드로 형식 지정됨
```

In [ ]:
print(3.36) #실수형
print(int(3.36)) #실수형 숫자를 정수형 숫자로 변환 --> 3만나옴
print(float(3))  #정수형 숫자를 실수형 숫자로 변환 - 자료형변환 함수인데 실수형태로 표현
print(bool(3))   #논리형 : True / False
print(bool(0))
# True : 0이 아니거나 조건이 맞을 때
# False : 0이거나 조건이 아닐 떄
#정수형: 소수점 없는 숫자, 실수형: 소수점 있는 숫자

3.36
3
3.0
True
False

.표시로 소수표시는 완전 다른거임
그래서 3.36은 실수형임


예약어/자료형 변환
- int :정수로 형변환
- str : 문자열로 형변환
- float : 실수형으로 형변환
- bool : 논리형으로 형변환(True/false)
예약어는 변수이름으로 쓸 수 있지만 충돌 가능성이 있기에 변수 이름으로는 지양할 것

In [ ]:
a = input("숫자1을 입력하세요 : ")
print(type(a)) #여기 다시 돌려보기
b = input("숫자2를 입력하세요 : ")
print(type(b))

#즉, a,b의 타입은 str이다.
#type도 a,b라는 변수의 자료형을 알려주는 함수라 생각하면된

숫자1을 입력하세요 : 1
<class 'str'>
숫자2를 입력하세요 : 2
<class 'str'>

In [ ]:
print("실수형 덧셈 : ")
print(float(a) + float(b))

실수형 덧셈 :
12.0

In [ ]:
print("정수형 덧셈 : ")
print(int(a) + int(b))

정수형 덧셈 :
3

In [ ]:
print("문자열 덧셈 : ")
print(a + b) # 문자열 덧셈은 이렇게 이어지는 성질이 있다.

문자열 덧셈 :
102







*   문자열의 slicing

파이썬에서만 자유자재 가능한 함수

문자열도 리스트의 일종(리스트는 자료구조에서 나옴)

In [ ]:
slice1 = "파이썬 수업 중입니다"
print (slice1) #

파이썬 수업 중입니다

In [ ]:
print(slice1[0])
print(slice1[2])
print(slice1[4])
#0부터 시작하므로 0=파, 1=이, 5=업

파
썬
수

In [ ]:
slice2 = "파 이 썬 수 업 중 입 니 다"
print(slice2[::2]) #간격만 표시되어 있어 간격없이 나왔다

파이썬수업중입니다

In [ ]:
slice3 = "안녕하세요여기는파이썬교실입니다"
print(slice3[0:4])
print(slice3[1:7])
print(slice3[1:7:2])

안녕하세
녕하세요여기
녕세여

slice[시작 : 끝 : 간격]

슬라이스는 끝 직전에 멈춘다 -->0:4는 0~3까지 나온다

slicing 연산
slice[시작 : 끝 : 간격] #
- index : 시작부터 끝 직전까지
- 생략가능

In [ ]:
slice3 = "안녕하세요여기는파이썬교실입니다"
print(slice3[0:3])

안녕하

In [ ]:
print(slice3[:5]) #시작 숫자를 생략한 경우 기본값=0

안녕하세요

In [ ]:
print(slice3[2:]) #끝 숫자를 생략한 경우 끝까지 출력 #간격은 계속 생략된상태 =1 이라 생각

하세요여기는파이썬교실입니다

In [ ]:
slice4 = "다니입민창윤은름이제"
print(slice4[::-1]) #거꾸로 출력

제이름은윤창민입니다

문자열 연결 가능

In [ ]:
str1 = "안녕하세요"
str2 = "반갑습니다"
print(str1 + str2)

안녕하세요반갑습니다

In [ ]:
print(str1 + " " + str2)

안녕하세요 반갑습니다

공백을 줘서 띄어쓰기 가능

In [ ]:
print(str1 + "\n" + str2)

안녕하세요
반갑습니다

In [ ]:
print(str1 + "\t" + str2) #tab키와 같은 기능

안녕하세요	반갑습니다

In [ ]:
star = "*"
print(star*10) #파이썬에서만 가능한것, 이렇게 문자열이 곱하는게 가능

**********

In [ ]:
print("=" * 5 + "*" * 5 + "=" * 3)

=====*****===

이스케이프 구문 == \

문자열을 기본적으로' '이나 " "로 열고 닫아야한

In [ ]:
es1 = "그냥 \"문자\" 출력"  # 이스케이프 문자를 쓰면 1순위로 쓰이는 연산자로 인식이 안되고 문자 그대로 인식
print(es1)
es2 = "그냥 문자 출력"  #'' 이건 상관없음
print(es2)
es3 = '그냥 \'문자\' 출력'  #''에 이스케이프 구문으로 출력해준것
print(es3)
es4 = "줄을\n바꿀 수도\n있어요"  #줄바꿈
print(es4)

그냥 "문자" 출력
그냥 문자 출력
그냥 '문자' 출력
줄을
바꿀 수도
있어요

연산자

산술연산자

- 덧셈+
- 뺄셈-
- 나눗셈/
- 곱셈*
- 몫 //
- 나머지 %
- 거듭제곱**
- 대입 =  #input = 같은

In [ ]:
num1 = input('num1을 입력하세요\n')
num2 = int(input('num2을 입력하세요\n'))  # 안쪽에서 문자열을 입력받은 다음 형변환이 바로
num1 = int(num1)  # 처음 숫자를 입력 받고나서 형변환을 한 후 다시 자기 자신에게 대

num1을 입력하세요
3
num2을 입력하세요
4

In [ ]:
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)  #실수 리턴/ 소수점이 끝도없이 작아지면 컴퓨터도 실수할 수 있다. 3.33335처럼나옴
print(num1 // num2) #정수 리턴 : 몫
print(num1 % num2)  #정수리턴 : 나머지
print(num1 ** num2) #파이썬에서만 거듭제곱 이렇게씀

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
# 단순대입
num1 = 5
num2 = 10
num1 = 5 + num2
print(num1)

15

In [ ]:
# 복합대입 연산자
#for문의 기본구조
#for 변수 in 그룹 //// 변수가 그룹크기만큼 반복되어 print출력된다.
#range(시작점,정지점,간격)
num1 = num1 + 5  #똑같은 연산자에 계속 대입
print(num1)

for i in range(1, 5):
  num1 = num1 + 5   #--> 약식으로 num1 +=5라쓰면 완전동일
print(num1)  #num1에 5씩증가 총 40까지

20
40

In [ ]:
num1 -= 7
print(num1)
num1 *= 11
print(num1)

33
363

fomat string
숫자에 문자열 작업을 안하도록 하는거가 이것임

In [ ]:
num1 = 10
num2 = 3.14
str1 = "파이썬 수업"

print('%d' % num1, type(num1))  # 기본적인 포맷스트링  %d는 이런 형식을 맞춰 변수를 지정하는 방식, %d == 일반 정수형을 뜻함 d=십진수 (특수한문자로 변수를 지정)
print("이렇게도", "출력", "가능")  #콤마로 하면 자동으로 띄어쓰기됨

10 <class 'int'>
이렇게도 출력 가능

In [ ]:
print('정수는 %d이고 문자열은 %s입니다' %(num1, str1))

정수는 10이고 문자열은 파이썬 수업입니다

In [ ]:
print('정수는%d이지만 실수는 %f입니다' %(num1, num2))  #2개면 괄호//'',""아무거나 사용 가능

정수는10이지만 실수는 3.140000입니다

In [ ]:
print("실수를 특별하게 출력해볼게요 : %.2f" % num2)  #1개면 그냥 , 소수점 2자리까지는 .2//소수점의 자릿수를 결정할 수 있음

실수를 특별하게 출력해볼게요 : 3.14

In [ ]:
#f-string
hour = 1.4
print(f'나는 집까지 가는 데 {hour}시간이 걸립니다')  #{hour:.2f}하면 소수점까지 가능

나는 집까지 가는 데 1.4시간이 걸립니다

In [ ]:
#print('정수는%d이지만 실수는 %f입니다' %(num1, num2))
print(f'정수는 {num1}이지만 실수는 {num2}입니다')

정수는 10이지만 실수는 3.14입니다

In [ ]:
num1 = 10
num2 = 3
print(num1 // num2)
print(num1 % num2)
#아래에
#10을 3으로 나눈 몫은 3, 나머지는 1입니다 출력
print(f"{num1}을 {num2}로 나눈 몫은 {num1//num2}, 나머지는 {num1%num2}입니다.")

3
1
10을 3로 나눈 몫은 3, 나머지는 1입니다.



*   정리

%d == 정수

%s == 문자열

%f == 실수형(인데 자주 쓰이진 않음, 하지만 소수점 지정할 때 자주 쓰임)

논리 연산자

- and, or ,not

bool형이 논리연산자로 나오는 결과
if, for,

In [ ]:
number1 = 10
number2 = 0
print(f"{number1}은 0보다 크다 : {number1>0}")
print(f"{number1}은 0보다 크고,{number2}는 0보다 작다 : {number1>0 and number2 < 0}")

10은 0보다 크다 : True
10은 0보다 크고,0는 0보다 작다 : False

In [ ]:
print(10 > 0 and 5 > 0)

True

관계 연산자

-

In [ ]:
num1 = 10
num2 = 20

print(num1 > num2)
print(num1 >= num2)
print(num1 < num2)
print(num1 <= num2)
print(num1 != num2)  #같지 않다
print(num1 == num2)  #같다(대입연산자 = 와 다른것이니 주의)

False
False
True
True
True
False

In [ ]:
myAge = int(input('본인의 나이를 입력해 주세요!\n'))

if myAge % 2 == 0 :
   print('제 나이는 짝수입니다')

else :
     print('제 나이는 홀수입니다')

본인의 나이를 입력해 주세요!
24
제 나이는 짝수입니다

In [ ]:
#논리연산자  -좀더 복잡한 계산 가능
number1 = 10
number2 = 20
print(number1 > 0 and number2 > 0)  #and연산자는 모든조건이 트루여야 트루
print(number1 < 0 and number2 < 0)  #폴스 앤드 폴스여서 거짓
print(number1 > 0 or number2 > 0)   #or연산자은 모든 조건이 폴스여야 폴스
print(number1 < 0  or number2 < 0)  #
print(number1 > 0 and number2 < 0)   # 둘중 하나라도 오답이면 폴스
print(number1 > 0 or  number2  < 0) # 둘중 하나만 정답이여도 트루

True
False
True
False
False
True