<a href="https://colab.research.google.com/github/chang-min-dbs/remem/blob/python_summer/Day03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#dictionary,tup

In [ ]:
#복습
#비트연산자   0b = 2진수를 눈에 보이게끔 만든 것
a = 0b0010
b = 0b1111
print(a&b)  #0010

2

In [ ]:
print(a | b) #1111

15

In [ ]:
print(~a)   #0010 ->1101

-3

In [ ]:
#자료구조 SET : 집합
a = set() #
a.add('A')
print(a)

{'A'}

In [ ]:
a.add('B')
b = {'A, "C'}
print(a & b) #교집합 = and
print(a | b) #합집합 = or
print(a - b) #차집합
print(b - a)
#딕셔너리와 집합은 순서가 없는 collection임

set()
{'B', 'A, "C', 'A'}
{'B', 'A'}
{'A, "C'}

In [ ]:
#dictionary  -- 키를 포함 시키므로서 더 정확한 값을 표현함
#요소들을 하나하나 따로따로 저장하는거에서 진화해서 두쌍으로 요소를 저장
#hash table과 비슷함  -->다시듣기
#'mana': 334, 이게 키,벨류 한쌍 즉, 4개의 키/벨류가 있는 것이다.
lux = {'health': 490,
       'mana': 334,
       'melee': 550,
       'armor': 18.72}
        #key  : value
print(lux)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [ ]:
print(type(lux)) #dictionary라는 뜻
#dictionary의 기본형 : {Key1: Value1, Key2: Value2, Key3: Value3, ...} 말그대로 사전이라는 뜻

<class 'dict'>

In [ ]:
#print(lux[0]) --> 문자열 슬라이싱과 같이 인덱스로 접근하는 구문
#딕셔너리와 세트는 순서가 없기 때문에 인덱스로 접근이 불가
print(lux['health']) #키로는 접근이 가능하다 #key가 유니크한 값으로 식별되기 때문에 키로 벨류에 접근
#print(lux[490]) #딕셔너리는 벨류로는 접근 불가

490

In [ ]:
cities = {'Seoul':'서울','Incheon':'인천', 'Busan':'부산'}
#딕셔너리는 이렇게 키와 벨류가 한쌍으로 요소 하나를 결정짓는다

In [ ]:
print(cities['Seoul']) #키로 접근해서 벨류를 리턴
cities['Seoul'] = '서울특별시' #키로 접근해서 그 키의 벨류를 수정할 수 있다
print(cities)
                                                                                                 # Q. 'Seoul': '서울' 이게 나오고 추가로 'seoul': '서울특별시'이게 나온다. A. S대소문자 구별하자

서울
{'Seoul': '서울특별시', 'Incheon': '인천', 'Busan': '부산'}

In [ ]:
# 함수 형태로 값을 가져오기
print(cities.get('Seoul')) # = cities['seoul']
print(cities.get('Busan')) #get

서울
부산

In [ ]:
#key 값에 대한 메서드(=함수) // 함수 = 함수이름 (매개변수)
print(cities.keys()) #키만 가져오는 메서드
#메서드는 객체와 연관되서 사용된다.

dict_keys(['Seoul', 'Incheon', 'Busan'])

In [ ]:
#value들만 가져오는 메서드
print(cities.values())

dict_values(['서울', '인천', '부산', '서울특별시'])

In [ ]:
#반복문
str1 = '안녕하세요'

for s in str1:
  print(s)
print("--")
str2 = ['봄', '여름', '가을', '겨울']
for i in str2:
    print(f"내가 좋아하는 계절은{i}이야")

안
녕
하
세
요
--
내가 좋아하는 계절은봄이야
내가 좋아하는 계절은여름이야
내가 좋아하는 계절은가을이야
내가 좋아하는 계절은겨울이야

In [ ]:
str3 = {'A', 'B', 'C', 'D'}
for i in str3:
  print(i)
  #집합은 순서가 없는 콜렉션이기 때문에
  #출력되는 순서는 보장할 수 없음

B
D
A
C

In [ ]:
#range함수 복습
#range(시작, 정지, 간격)
for i in range(10):
  print(i)
  #매개변수가 하나면, 0부터 정지보다 1작은 수까지 반복

0
1
2
3
4
5
6
7
8
9

In [ ]:
for j in range(3, 10):
  print(j)

3
4
5
6
7
8
9

In [ ]:
for k in range(5,0,-1):
  print(k) #-1로 하면 거꾸로 간다

5
4
3
2
1

In [ ]:
for h in range(2,100,2):
  print(h)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
nations = {'korea':'한국',
           'Japan':'일본',
           'china':'중국'}
for i in nations:
  print(i)
  #in은 key만 추출

korea
Japan
china

In [ ]:
for v in nations.values():
  print(v)
  #이렇게 하면value들만 출력가능

한국
일본
중국

In [ ]:
for k in nations.keys(): #for k in nations: 와 같다
  print(k)

korea
Japan
china

In [ ]:
#반복문이용해서 키와 벨류를 동시에 접근 --> 키에만 접근하는게 유리
for k in nations.keys():
  print(f"{k}는 한국어로{nations[k]}입니다")  #여기 다시 보기
  #key를 이용해 리턴되는 형식을 만든다.
  #print(f"{k}는 한국어로{nations.get(k)}입니다")이것과 동일한 것이다.

korea는 한국어로한국입니다
Japan는 한국어로일본입니다
china는 한국어로중국입니다

In [ ]:
print(nations)
nations['USA'] = '미국' #key:value 새로 추가
print(nations)

{'korea': '한국', 'china': '중국'}
{'korea': '한국', 'china': '중국', 'USA': '미국'}

In [ ]:
#중복되는 키값으로 추가가 할 경우
nations['korea'] = '대한민국'
print(nations)
#나중에 추가된 벨류로 수정됨 -->한국에서 대한민국
#키는 무조건 중복 불가

{'korea': '대한민국', 'china': '중국', 'USA': '미국'}

In [ ]:
a = {'A': 100, 'B': 200, 'A':300} #이렇게 해도 중복이 안된다. 뒤에 추가된 300이 튀어 나온다.
print(a)

{'A': 300, 'B': 200}

In [ ]:
#pop : 리턴과 동시에 삭제된다(스택에서 팝이라는 것이 등장한다)
remove = nations.pop('Japan') #pop메서드는 딕셔너리에 있던 'Japan': '일본' 이란 키:밸류를 remove를 넣게하고 이 한쌍을 삭제시켜버린다
print(remove)
print(nations)

일본
{'korea': '한국', 'china': '중국'}

In [ ]:
#딕셔너리 초기화
nations.clear() #이 표현을 해주면 빈딕셔너리로 가는걸 확인 할 수 있다
print(nations)
#dict = {}라 표현가능인데 set = {}를 하면 딕셔너리와 헷갈리게 되므로  a = set()으로 초기화 시키는 것이다. /////잘 이해는 안된다.
#위의 것을 조심하자

{}

In [ ]:
# 리스트(순서가 있이 출력된다)
a = [10,20,30]
print(a)
print(len(a)) # length의 줄임말로 콜렉션 길이를 반환 #반환 = return
for i in a:
  print(i)

[10, 20, 30]
3
10
20
30

In [ ]:
print(a[0])
print(a[1])
print(a[2])
print(a[-1])
#인덱스도 음수를 사용해서 뒤에서부터 접근 가능

10
20
30
30

In [ ]:
#리스트 추가 및 확장
a.append(40)  #요소하나만 넣어주는거 -->40만 넣어줬다.
print(a)
b = [50,60,70]
a.extend(b)  #리스트 그 자체를 넣어준다 --> 50,60,70을 뒤에 추가해 넣어줬다.
print(a)

[10, 20, 30, 40, 50, 60, 70, 40]
[10, 20, 30, 40, 50, 60, 70, 40, 50, 60, 70]

In [ ]:
arr = ['A',1, ['안녕','반가워']]
print(arr[-1])
print(arr[0])
print(len(arr))

['안녕', '반가워']
A
3

In [ ]:
print(arr[-1][0])
print(arr[-1][1]) #리스트안에 리스트로 또 접근 가능하다는 것
#이중 리스트에도 인덱스로 접근 가능
print(arr[-1][0][0])
#'워'에 접근하기
print(arr[-1][-1][-1])

안녕
반가워
안
워

In [ ]:
arr = []
for i in range(2, 12, 2):
  arr.append(i)
print(arr)
#리스트이므로 한줄로 나열인듯

[2, 4, 6, 8, 10]

In [ ]:
#리스트 누적합
sum = 0 #변수선언 및 초기화를 먼저 해주기 가비지 값이 들어갈 수 있기 때문
for s in arr:  # in range의 in: 숫자가 리턴  in arr의 in: 콜렉션에 있는 항목들이 리턴되는것
  sum+= s
print(sum)

30

In [ ]:
#원하는 index에 추가
a = [20,30,40]
a.insert(0,10) #삽입할 인덱스, 삽입할 요소
               #기본 방식: 변수.insert(자리(인덱스),요소)
print(a)
a.insert(2,25)  #append는 뒤에다 줄줄이 추가하는 함수이고 insert는 원하는 index를 명시할 수 있는 함수
print(a)
#

[10, 20, 30, 40]
[10, 20, 25, 30, 40]

In [ ]:
#제거하기
a.pop(1)#인덱스로 제거
print(a)

[10, 25, 30, 40]

In [ ]:
num = a.pop(0)
print(num)  #팝은 이렇게 반환을 하고 삭제를 하는 함수다
print(a)

10
[25, 30, 40]

In [ ]:
a.remove(30) #요소 자체를 검색해서 삭제
print(a)

[25, 40]

In [ ]:
#index검색
print(a.index(40))
#40의 인덱스(자리)1이 나타나게 되는 것이다
#없는요소는 에러남

1

In [ ]:
#요소 개수 세기
a = [10,10, 10, 20, 10]
print(a.count(10))

4

In [ ]:
a = [10, 30, 25, 15, 40]
print(a)
a.sort() #오름차순으로 정렬 # 이렇게 공백으로 안써져있으면 기본적으로 false임  # 다시듣기# 둘중 어느게 디폴트 파라미터?
print(a)
a.sort(reverse=True) #내림차순으로 정렬 #이건 디폴트 파라미터라고하는데 예를들어 print는 함수명이고 ()에는 매개변수(=파라미터)이다.
print(a)
#

[10, 30, 25, 15, 40]
[10, 15, 25, 30, 40]
[40, 30, 25, 15, 10]

In [ ]:
a.clear()
print(a)  #리스트 초기화

[]

In [ ]:
b = [10,20,30,40]
b[0]=50
#즉, [0]의 인덱스가 50으로 바뀌었다.
#b[5]=70 #추가는 인덱스로 에러 발생 #(아직 있지않는 인덱스는)
#수정과 추가
print(b)

[50, 20, 30, 40]

In [ ]:
origin= ['A','B','C']
copied = origin #얕은 복사
print(origin)
print(copied) #이렇게 둘다 동시에 바뀜

['A', 'B', 'C']
['A', 'B', 'C']

In [ ]:
copied[2]='D'
print(origin)  #카피드에 d로 수정했는데 오리진도 같이 바뀐다 ---> 얕은 복사 때문

['A', 'B', 'D']

In [ ]:
num1 = 10
num2 = num1
num2 = 5  #10 -> 5
print(num1)  #넘1이 바뀐 넘2의 영향을 받지 않는다.
print(num2)
#그냥변수랑 리스트같은 컬렉션 자료구조는 다르다. 메모리에 할당되는 방식이 다르기 때문,리스트는 컬렉션 자료구조는 다르다. 오리진이 리스트라고 하는 정수하나 있는 변수보다 조금 더 큰 더 넓은 범위의 메모리를 갖고있고
#이걸 바로 카피드를 해버리면 이런 특수한 자료구조 메모리를 참조를 한다. 그래서 카피드가 바뀌면 오리진도 같이 바뀌게 되는 것


# 계속 봐보기

10
5

In [ ]:
copied2 = origin.copy() #깊은 복사  - 오리진과 카피드 2와 아예 영역이 나뉘어 수정되도 별개가 된다. # 아무튼 origin.copy() 이선언을 해줘야 깊은 복사가 되어 카피드만 따로 바뀐다
copied2[0] = 'F'
print(origin)
print(copied2) # 오리진과 카피드2에 따로..?한다
#그래서 F로 바꿨다해서 영향을 주진 않는다

['A', 'B', 'D']
['F', 'B', 'D']



*   리스트와 튜플의 차이점
 1. 리스트는[], 튜플은 ()이다
 2.리스트는 값을 수정할 수 있지만 튜플은 수정 불가하다

In [ ]:
# tuple
a = (10, 20, 30)    #리스트는 [] 튜플은()이네
for i in a:
  print(i)

10
20
30

In [ ]:
#리스트와 비슷한 형태이나 비슷한데 수정이 안되는 컬렉션이다
a[0] = 40 #error

TypeError: 'tuple' object does not support item assignment

In [ ]:
arr = [[10,20],[30,40],[50,60]]
print(arr)
print(len(arr))#아이템은 3개로 인식이 되는데 아래 콘솔에서 인덱스로 접근을 해보면

[[10, 20], [30, 40], [50, 60]]
3

In [ ]:
print(arr[0])
print(arr[0][0])
print(arr[2][1])#2차원으로도 선언 할 수 있다.

[10, 20]
10
60

In [ ]:
for x,y in arr:  #파이썬에만 있는 형식으로 리턴되는 형식이 2가지 이상 되게 하는것 이렇게 2개로 반환되게 하는건 파이썬이다. 원칙적으론 [10,20]으로 가는데 2개로 되있음 프린트값처럼 변함
  print(x,y)#리스트안에 리스트 개수가 같으면 가져올 수 있다

  for b in arr:
    print(b)

    for a in arr:
      print(a[0],a[1])#말고도 따로따로 가져올 수있다는거

      #지금 막 섞여서 뜨는데 왜 강의와 같이 안뜨는 이유는?

10 20
[10, 20]
10 20
30 40
50 60
[30, 40]
10 20
30 40
50 60
[50, 60]
10 20
30 40
50 60
30 40
[10, 20]
10 20
30 40
50 60
[30, 40]
10 20
30 40
50 60
[50, 60]
10 20
30 40
50 60
50 60
[10, 20]
10 20
30 40
50 60
[30, 40]
10 20
30 40
50 60
[50, 60]
10 20
30 40
50 60

In [ ]:
brr = ['a','b','c']
a,b,c = brr #요소 3개니깐 한꺼번에 뿌리는 것도 가능하다.
print(a)
print(b) #이렇게 바로 리턴이 가능하다
print(c)

#Q. 이게 근데 튜플임??

a
b
c

In [ ]:
#문제 1: 리스트 중복 제거
lst = [1,2,2,3,4,5,5] #리스트같은 함수명으로 쓰면 충돌땜에 이렇게쓴다
lst = list(set(lst)) #리스트를 첫번째로 세트로 변환을 한다
#---> set는 중복이 불가능한 함수이므로 알아서 중복을 지워준다. 그리고 이걸 다시 리스트로 변환하면 중복 제거된 채로 인덱스 변경+순서가 있는 리스트가 된다.
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
#list형태로 반복문
a = [i for i in range(10)]  #for앞이 (여기에선 i) 리스트의 원소들이 되는것이다.
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b = [i+1 for i in range(1,14,2)]  #1,3,5..로 가는데 b의 진짜 요쇼는i+1이므로 2,4,6,..이다
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
c = [i for i in range(2,21) if i%2 == 0]
print(c)
#리스트 컴프리헨션이다

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#리스트 컴프리헨션
#[요소 for 요소 in range(,) if ~ ]

In [ ]:
#1.
#1부터 20까지 숫자 중 3의 배수만
c = [i for i in range(1,21) if i%3 == 0]
print(c)

'''
c=[]
for i in range(1,21):
  if i%3 == 0:
    c.append(i)  이걸 한줄로 줄인 것이다.  #c.append(i) = 이 뜻은 리스트에 하나씩 조건에 맞는 숫자들을 추가한다?
print(c)
'''

[3, 6, 9, 12, 15, 18]

'\nc=[]\nfor i in range(1,21):\n  if i%3 == 0:\n    c.append(i)  이걸 한줄로 줄인 것이다.  #c.append(i)\nprint(c)\n'

In [ ]:
#2: 1부터 10까지 제곱수
squares = [i**2 for i in range(1,11)]
print(squares)
#

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#3. 리스트에서 양수만 뽑기
numbers = [-10,-5,0,5,10]
pos = [num for num in numbers if num>0]
print(pos)

[5, 10]

In [ ]:
#4. 1부터 10까지의 숫자 중 홀수의 세제곱 리스트
cubes = [i**3 for i in range(1,11) if i%2 == 1]
print(cubes)

[1, 27, 125, 343, 729]

In [ ]:
#5. 두 리스트의 곱
list1 = [1,2,3]
list2 = [4,5,6]   #list1,list2가 콜렉션인듯

for a,b in zip(list1,list2):  # zip: 두개이상의 콜렉션의 인덱스에 접근해 순서대로 요소를 리턴
  print(a,b)

1 4
2 5
3 6

In [ ]:
#한줄로 바꾸기
comp_list = [a*b for a,b in zip(list1,list2)]
print(comp_list)

[4, 10, 18]

In [ ]:
#6. 단어 빈도 수 계산하기  -> dictionary리를 통해 구한다
                                                                                                   # 근데 딕셔너리는 키와 벨류가 함께 있는 것 아닌가?
input_str = "this is a test this is only a test"

words = input_str.split()
#split함수는 구분자를 기준으로 문자열을 잘라서 리스트로 리턴
#원래는 파라미터로 구분자를 넣어줄 수 있는데 파라미터가 없다면 공백으로 잘라서 리턴 해주는 것으로, 띄어쓰기를 말하는 것이 된다.
print(words)

['this', 'is', 'a', 'test', 'this', 'is', 'only', 'a', 'test']

In [ ]:
for word in words:
  print(word)

this
is
a
test
this
is
only
a
test

In [ ]:
#벨류를 카운트
word_freq = {}
for word in words:
  if word in word_freq:     #this라는 단어가 key로 있느냐 딕셔너리(word_freq)에 키로 있으면 그 키를 찾아서 벨류를 수정을 하고
    word_freq[word] += 1
  else:
    word_freq[word] = 1     #만약 없으면 딕셔너리에 새로운 키로 추가를 해준다.
print(word_freq)

#디스라는 워드가 키로 있느냐를 묻고 있으면 벨류로 해서 카운트
#없으면 새로운 키로 벨류를 추가했다,
#딕셔너리는 공백이니 아직 아무것도 없다. 그래서 else가 되서 새로운 키로 'this': 1 인 키와 밸류를 추가를 했다
#다시 돌아와서 if에서 this가 있으니 복합연산자로 하나 더 증가 시켜서 'this':2가 되는 것이다.
#word_freq[word] = 1
#    새로운 key   : value

'''
그런데
word_freq[word] += 1
같은 것이 어떻게 벨류로 추가 되는가?
[word]가 for word의 word와 같은 지 모르겠다.
'''

{'this': 2, 'is': 2, 'a': 2, 'test': 2, 'only': 1}

In [ ]:
#7. 각 학생들의 성적이 주어졌을 때
#각 학생들의 평균 점수를 계산
grades = {
    'Alice': [85,90,92],
    'Bob': [78,81,85],
    'Charlie': [92,95,77]
}

averages = {}

for k in grades:
  print(f"{k}의 점수들은 {grades.get(k)}입니다")

  for k, v in grades.items():
      print(f"{k}의 점수들은{v}입니다")

Alice의 점수들은 [85, 90, 92]입니다
Alice의 점수들은[85, 90, 92]입니다
Bob의 점수들은[78, 81, 85]입니다
Charlie의 점수들은[92, 95, 77]입니다
Bob의 점수들은 [78, 81, 85]입니다
Alice의 점수들은[85, 90, 92]입니다
Bob의 점수들은[78, 81, 85]입니다
Charlie의 점수들은[92, 95, 77]입니다
Charlie의 점수들은 [92, 95, 77]입니다
Alice의 점수들은[85, 90, 92]입니다
Bob의 점수들은[78, 81, 85]입니다
Charlie의 점수들은[92, 95, 77]입니다

In [ ]:
for student,scores in grades.items():
  averages[student] = sum(scores)/len(scores)

  print(averages)
  #에러에선 왜 int를 붙이라 할까,

{'Alice': 89.0}
{'Alice': 89.0, 'Bob': 81.33333333333333}
{'Alice': 89.0, 'Bob': 81.33333333333333, 'Charlie': 88.0}

In [ ]:
from os import ST_MANDLOCK
s = "()[]{}"

lst = []
mapping={")":"()","}":"{", "]":"["}
for char in s:
  if char in mapping:
    if lst:
      top = lst.pop()
    else:
      top = "#"
  else:
  lst.append(char)